/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
target
#pom.xml
/src/main/resources
/src/test
/charts
##application-myTest.properties

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
static
.DS_Store
log.base_IS_UNDEFINED
mvnw
mvnw.cmd

