<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vm.im.dao.user.UserCurrentChatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vm.im.entity.user.UserCurrentChat">
        <id column="user_id" property="userId"/>
        <result column="friend_id" property="friendId"/>
        <result column="type" property="type"/>
        <result column="nickname" property="nickname"/>
        <result column="last_message" property="lastMessage"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, friend_id, type, nickname, last_message, del_flag, create_time
    </sql>

    <select id="listByUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from im_user_current_chat
        where user_id = #{uid,jdbcType=VARCHAR}
        AND del_flag = 0
        order by TYPE desc, create_time desc
        limit #{count,jdbcType=INTEGER}
    </select>
</mapper>
