<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vm.im.dao.common.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vm.im.entity.common.Message">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="from_id" property="fromId" jdbcType="VARCHAR" />
        <result column="to_id" property="toId" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="read_status" property="readStatus" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="ChatHistoryVO" type="com.vm.im.common.vo.user.ChatHistoryVO">
        <result column="from_id" property="fromUserId" jdbcType="VARCHAR" />
        <result column="to_id" property="toUserId" jdbcType="VARCHAR" />
        <result column="to_group_id" property="toGroupId" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="from_nickname" property="nickName" jdbcType="VARCHAR" />
        <result column="from_user_avatar" property="fromUserIdAvatar" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
      id, from_id, to_id, content, type, read_status, create_time
    </sql>
    <select id="listSingleByUidAndToid" resultMap="ChatHistoryVO">
        select
        im.from_id, im.to_id, im.content, im.create_time, iu.avatar from_user_avatar, iu.name from_nickname, im.type
        from (
        select from_id, to_id, content, create_time, type from im_message where type = 1
        <if test="dto.timestamp != null">
            and create_time <![CDATA[ < ]]> #{dto.timestamp,jdbcType=TIMESTAMP}
        </if>
        and (from_id = #{dto.fromId,jdbcType=VARCHAR} AND to_id = #{dto.toId,jdbcType=VARCHAR}
        OR from_id = #{dto.toId,jdbcType=VARCHAR} AND to_id = #{dto.fromId,jdbcType=VARCHAR})
        ORDER BY create_time desc LIMIT #{dto.count,jdbcType=INTEGER}) im
        left join im_user iu on im.from_id = iu.id
    </select>
    <select id="listGroupByUidAndToid" resultMap="ChatHistoryVO">
        select
        im.from_id, im.to_id to_group_id, im.content, im.create_time, iu.avatar from_user_avatar, iu.name from_nickname, im.type
        from (
        select from_id, to_id, content, create_time, type from im_message where type = 3
        <if test="dto.timestamp != null">
            and create_time <![CDATA[ < ]]> #{dto.timestamp,jdbcType=TIMESTAMP}
        </if>
         AND to_id = #{dto.toId,jdbcType=VARCHAR}
        ORDER BY create_time desc LIMIT #{dto.count,jdbcType=INTEGER}) im
        left join im_user iu on im.from_id = iu.id
    </select>
</mapper>
