<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vm.im.dao.common.RedPacketDetialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vm.im.entity.common.RedPacketDetial">
        <id column="id" property="id" />
        <result column="red_packet_id" property="redPacketId" />
        <result column="from_id" property="fromId" />
        <result column="to_id" property="toId" />
        <result column="type" property="type" />
        <result column="coin_id" property="coinId" />
        <result column="coin_name" property="coinName" />
        <result column="amount" property="amount" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, red_packet_id, from_id, to_id, type, coin_id, coin_name, amount, status, create_time, update_time
    </sql>

    <select id="selectByRedPacketId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from im_red_packet_detial
        where red_packet_id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="sumAmountByRedPacketId" resultMap="java.math.BigDecimal" parameterType="java.lang.String" >
        select
        sum(amount)
        from im_red_packet_detial
        where red_packet_id = #{id,jdbcType=VARCHAR}
        and status = 1
    </select>
</mapper>
